body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 1650px;
}

.card {
  padding: 2px 16px;
  box-shadow: 0 0 3px rgba(190, 25, 25, 0.1);
  outline: 5px solid black;
  border: 1px solid black;
  background-color: white;
  width: 420px;
  height: 610px;
  margin: 20px;
  flex-shrink: 5;
  color: black;
}
